# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
*.env
key.env

# =========================
# Database files
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Compiled / Cache
# =========================
*.log
*.pid

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
